@import "tailwindcss";

@theme {
    --color-primary: #6A0BFF;
    --color-primary-hover: #5509CC;
    --color-footer: #18003E;
    --color-background: #F4F4F4;
    --font-sans: 'Manrope'
}

@layer base {
    body {
        font-family: var(--font-sans), sans-serif;
    }
}