@import 'tailwindcss';

@theme {
	--color-primary: #6a0bff;
	--color-primary-hover: #5509cc;
	--color-footer: #18003e;
	--color-background: #f4f4f4;
	--color-destructive: #fdd8e1;
	--color-destructive-hover: #fbb1c4;
	--color-bg-result: #f0e7ff;
	--font-sans: 'Manrope';
}

@layer base {
	body {
		font-family: var(--font-sans), sans-serif;
	}
}
